In [2]:
from bs4 import BeautifulSoup
import urllib

In [115]:
url= 'http://www.payscale.com/college-roi?page=86'
page = urllib.request.urlopen(url)
soup = BeautifulSoup(page.read())

In [119]:
data = []
table = soup.find('table', { "class" : "table" })
table_body = table.find('tbody')
rows = table_body.find_all('tr')
for row in rows:
    cols = row.find_all('td')
#     cols = [col for col in cols if len(col) == 2]
    cols = [ele.text.strip() for ele in cols]
#   cols = [col for col in cols if len(col) == 2]
    if len(cols) < 3:
        continue
    data.append([ele for ele in cols if ele]) # Get rid of empty value

In [120]:
header = []
table = soup.find('table')
table_header = table.find('thead')

rows = table_header.find_all('tr')
for row in rows:
    cols = row.find_all('th')
    cols = [ele.text.strip() for ele in cols]
    header.append([ele for ele in cols if ele]) # Get rid of empty values

In [ ]:
data_final = []

In [136]:
url= 'http://www.payscale.com/college-roi?page='+str(1)
for i in range(1,6):
    print(i)

1
2
3
4
5

### Scraping all 86 pages

In [151]:
for i in range(1, 87):
    url= 'http://www.payscale.com/college-roi?page='+str(i)
    page = urllib.request.urlopen(url)
    soup = BeautifulSoup(page.read())

    data = []
    table = soup.find('table', { "class" : "table" })
    table_body = table.find('tbody')
    rows = table_body.find_all('tr')
    for row in rows:
        cols = row.find_all('td')
    #     cols = [col for col in cols if len(col) == 2]
        cols = [ele.text.strip() for ele in cols]
    #   cols = [col for col in cols if len(col) == 2]
        if len(cols) < 3:
            continue
        data.append([ele for ele in cols if ele]) # Get rid of empty value

    for i in range(len(data)):
                    data_final.append((data[i][0].split()[0], data[i][1], data[i][3].strip('%').replace('<',''), data[i][5].strip("%").replace('<', ''), data[i][7].strip('$').replace(',', ''), data[i][9].strip('$').replace(',', ''), data[i][11].strip('$').replace(',', ''), data[i][13].strip("%"), data[i][14].split()[0], data[i][15].strip('$').replace(',', ''), data[i][16].strip("%")))

In [152]:
import pandas as pd
df = pd.DataFrame(data_final)

In [153]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,-,"University of Phoenix - Phoenix, AZ(Private)",N/A,N/A,N/A,N/A,N/A,16,6,33520,91.0
1,-,Cleary University(Private),N/A,N/A,N/A,N/A,N/A,44,4,24360,70.0
2,-,"ITT Technical Institute - San Diego, CA(Private)",N/A,N/A,N/A,N/A,N/A,27,6,34120,70.0
3,-,Wilmington University(Private),N/A,N/A,N/A,N/A,N/A,39,4,12680,73.0
4,-,Thomas Edison State College(In-State),N/A,N/A,N/A,N/A,N/A,0,N/A,0,0.0

In [154]:
df.columns = ['rank', 'name', 'Anual%_ROI_without_FA', 'Anual%_ROI_with_FA', '20yrnet_ROI_without_FA', '20yrnet_ROI_with_FA', 'Total_4yr_cost', 'grad_rate', 'years_to_grad', 'loan_amnt', '%_GrantMoney_Received']

In [155]:
df.head()

,rank,name,Anual%_ROI_without_FA,Anual%_ROI_with_FA,20yrnet_ROI_without_FA,20yrnet_ROI_with_FA,Total_4yr_cost,grad_rate,years_to_grad,loan_amnt,%_GrantMoney_Received
0,-,"University of Phoenix - Phoenix, AZ(Private)",N/A,N/A,N/A,N/A,N/A,16,6,33520,91.0
1,-,Cleary University(Private),N/A,N/A,N/A,N/A,N/A,44,4,24360,70.0
2,-,"ITT Technical Institute - San Diego, CA(Private)",N/A,N/A,N/A,N/A,N/A,27,6,34120,70.0
3,-,Wilmington University(Private),N/A,N/A,N/A,N/A,N/A,39,4,12680,73.0
4,-,Thomas Edison State College(In-State),N/A,N/A,N/A,N/A,N/A,0,N/A,0,0.0

In [156]:
df.to_csv('Pay_Scale_data.csv', index=False)